.header-div{
    width: 100%;
    text-align: center;
    margin: 100px auto;
}
.header-div p{
    font-size: 23px;
}
.header-div h2{
    font-size: 28px;
}

.contents{
    display: flex;
    gap: 1%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.display-single-component{
    display: flex;
    flex-direction: column;
    width: 24%;
    /* height: 380px; */
    justify-content: center;
    align-items: center;
    padding: 8px;
}
.display-single-component img{
    width: 100%;
}
.display-single-component p{
    margin: 0;
    align-self: flex-start;
}
.display-single-component button{
    margin-top: 30px;
    padding: 8px 12px;
    width: 100px;
    border: none;
    border-radius: 23px;
    color: #fff;
    background-color: rgb(93, 135, 248);
}
@media only screen and (max-width:700px){
    .header-div{
        margin: 50px auto;
    }
    .header-div p{
        font-size: 19px;
    }
    .header-div h2{
        font-size: 24px;
    }
    .display-single-component{
        margin: 0;
        padding: 4px;
        width: 100%;
    }
    .contents{
        justify-content: space-between;
    }
    .display-single-component p{
        font-size: 15px;
        color: #242424;
    }
    .display-single-component h2{
        font-size: 18px;
    }
}