.contact-container{
    text-align: center;
    width: 100%;
}
.contact-container h1{
    margin: 50px;
    font-size: 35px;
}
.input-div{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    align-items: center;
}
.input-div input{
    padding: 8px;
    width: 400px;
    background-color: #fff;
    font-size: 18px;
    border: none;
}
.input-div textarea{
    width: 400px;
}
.btn--outline{
    border-radius: 3px;
    margin: 45px 0;
    width: 180px;
    background-color: rgb(93, 135, 248);
}
form p{
    color: rgb(252, 36, 36);
}
.ui-message-success{
    width: 20%;
    margin: auto;
    padding: 4px 7px;
    background-color: rgb(155, 228, 155);
    color: rgb(40, 248, 40);
}
@media only screen and (max-width:700px){
    .contact-container h1{
        font-size: 28px;
        margin: 35px;
    }
}